/ @param [ActiveRecord_Relation] object pageを付与したActiveRecord_Relationオブジェクト
= link_to_next_page next_page, \
                    'もっと見る', \
                    params: { controller: controller_name, action: 'load' }, \
                    data: { turbo_method: :post, paginate_target: :nextPageLink }, id: 'next_page_link'