= turbo_stream_from 'tweet_page'

#posts data-controller="posts"
  = render partial: 'posts/post', collection: @posts

div.fixed.bottom-0.bg-pink-500 data-controller="posts error-messages"
  = form_with model: Post.new, \
              data: { action: "turbo:submit-end->posts#clearForm turbo:submit-start->error-messages#clearErrorMessages" } \
              do |f|

    = render 'shared/error_messages', object: f.object

    = f.text_area :message
    = f.submit 'つぶやく'

css:
  /* つぶやきを泡のように出現、消滅させる */
  @keyframes tweet-bubble {
      0% {
          opacity: .5;
          transform: translateY(80vh);
      }
      80% {
          opacity: 1;
          transform: translateY(20vh);
      }
      100% {
          opacity: 0;
          transform: translateY(0px);
      }
  }