= turbo_stream_from 'tweet_page'
= turbo_stream_from current_user

= render partial: 'posts/login_announce', locals: { user: current_user, me: true }

div data-controller="paginate"
  #posts
    = render partial: 'posts/post', collection: @posts, locals: { user: current_user }
  span.hidden
    = render partial: 'shared/next_page', object: @posts


div id="tweet-form" class="absolute bottom-0 w-full"
  = form_with model: Post.new, \
              data: { controller: "form", action: "turbo:submit-start->form#clearErrorMessages turbo:submit-end->form#clearForm" }, \
              class: %w[w-full max-w-2xl sm:px-6 sm:py-4 mx-auto bg-white/75 rounded-md shadow-md dark:bg-gray-800] \
              do |f|

    = render partial: 'shared/error_messages', object: f.object

    = render 'chaplus_api/message', bot_message: 'こんにちは！'

    .flex
      = f.text_area :message, maxlength: 50, required: true, class: %w[block w-full px-4 py-2 text-gray-700 \
        bg-white/75 border rounded-l-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 \
        dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 resize-none]

      = f.submit 'つぶやく', class: %w[text-white transition-colors duration-200 transform bg-green-700 cursor-pointer \
                                          rounded-r-lg hover:bg-green-600 focus:outline-none focus:bg-green-600 block mx-auto]

= link_to 'ランキング', ranking_index_path, class: "flex justify-center px-4 py-2 absolute top-0 left-0 w-28 sm:w-32 text-sm sm:text-base btn-primary"

css:
  /* つぶやきを泡のように出現、消滅させる */
  @keyframes tweet-bubble {
      0% {
          opacity: .5;
          transform: translateY(80vh);
      }
      80% {
          opacity: 1;
          transform: translateY(20vh);
      }
      100% {
          opacity: 0;
          transform: translateY(0px);
      }
  }

  main {
      overflow: hidden;
  }