@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-primary {
        background-color: #E66EB2;
        color: #003B4A;
        font-weight: bold;
        border: #E66EB2 solid 3px;
        border-radius: 9999px;
        text-align: center;
        line-height: 4rem;
    }

    .btn-primary:hover {
        background-color: #af4888;
        border-color: #af4888;
    }
}