@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-primary {
        background-color: rgb(236 72 153);;
        color: white;
        font-weight: bold;
        border: #E66EB2 solid 3px;
        border-radius: 9999px;
        text-align: center;
        line-height: 4rem;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #af4888;
        border-color: #af4888;
    }

    .like-btn-base {
        @apply inline-flex items-center justify-center space-x-2 border border-transparent text-sm font-medium
                rounded-full w-12 h-12 transition-colors;
    }

    .badge {
        @apply inline-flex items-center justify-center px-2 py-1 ml-2 text-xs font-bold leading-none rounded-full;
    }
}