/* つぶやきを泡のように出現、消滅させる */
@keyframes tweet-bubble {
    0% {
        opacity: .5;
        transform: translateY(80vh);
    }
    80% {
        opacity: 1;
        transform: translateY(20vh);
    }
    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}