= stylesheet_link_tag "logo", "data-turbo-track": "reload"

= image_tag('/top-bg.jpg', class: 'h-screen w-screen absolute z-0 object-cover object-right-bottom')
- if current_page?(root_path)
  = image_tag('/logo.png', class: 'absolute inset-x-1/2 -translate-x-1/2 h-2/5 drop-shadow-2xl animate-[slideIn_1s]')