= image_tag('/top-bg.jpg', class: 'h-screen w-screen absolute z-0 object-cover object-right-bottom')
- if current_page?(root_path)
  = image_tag('/logo.png', class: 'absolute inset-x-1/2 -translate-x-1/2 h-2/5 drop-shadow-2xl animate-[slide-in_1s]')

css:
  @keyframes slide-in {
      0% {
          opacity: 0;
          transform: translate(-50%, 30px);
      }
      100% {
          opacity: 1;
          transform: translate(-50%, 0px);
      }
  }
